/useragent-examples/useragent-generic-javascript/src/main/webapp/lib
/interaction-core/test-output
/interaction-dsl/com.temenos.interaction.rimdsl.ui/plugin.xml_gen
/interaction-dsl/com.temenos.interaction.rimdsl.ui/src/com/temenos/interaction/rimdsl/ui/RIMDslUiModule.java
/interaction-dsl/com.temenos.interaction.rimdsl.ui/src/com/temenos/interaction/rimdsl/ui/contentassist/RIMDslProposalProvider.java
/interaction-dsl/com.temenos.interaction.rimdsl.ui/src/com/temenos/interaction/rimdsl/ui/labeling/RIMDslDescriptionLabelProvider.java
/interaction-dsl/com.temenos.interaction.rimdsl.ui/src/com/temenos/interaction/rimdsl/ui/labeling/RIMDslLabelProvider.java
/interaction-dsl/com.temenos.interaction.rimdsl.ui/src/com/temenos/interaction/rimdsl/ui/outline/RIMDslOutlineTreeProvider.java
/interaction-dsl/com.temenos.interaction.rimdsl.ui/src/com/temenos/interaction/rimdsl/ui/quickfix/RIMDslQuickfixProvider.java
/interaction-dsl/com.temenos.interaction.rimdsl/.antlr-generator-3.2.0.jar
/interaction-dsl/com.temenos.interaction.rimdsl/plugin.xml_gen
/interaction-dsl/com.temenos.interaction.rimdsl/src/com/temenos/interaction/rimdsl/RIMDslStandaloneSetup.java
/interaction-dsl/com.temenos.interaction.rimdsl/src/com/temenos/interaction/rimdsl/scoping/RIMDslScopeProvider.java
*.iml
*.log
*.ipr
*.iws
/interaction-dsl/com.temenos.interaction.rimdsl.tests/test-output
/interaction-examples/interaction-odata-airline/log.txt
/interaction-examples/interaction-mashup-streaming/testimg.jpg
.classpath
.project
.settings
bin
target
report
src-gen
*~
/interaction-core/nb-configuration.xml
/nb-configuration.xml
