<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.temenos.com/interaction/rimdsl/RimDsl" 
       class = "com.temenos.interaction.rimdsl.rim.RimPackage"
       genModel = "com/temenos/interaction/rimdsl/RIMDsl.genmodel" /> 
	
  </extension>




</plugin>
