/* Rules just for the acquisition stage of the process */
/* To nudge the three step process down slightly, so it matches the fieldset */
.twocol div.setup {padding-top: 0.6em;}

	p#logo {
		/* Top of the drop-shadow box */
		background: white url(../img/sprite-main.png) 0 92px no-repeat;
		margin: 0;
		padding: 35px 38px 97px 38px;
	}
	
/* A three-stage process, with disabled states */
ol.step3, ol.step3 li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ol.step3 {
	border: solid 3px #b2d1c1;
	border-top: none;
	background: #f2f7f5;
	font-size: 85%;
}
	/* Default state: not selected, not disabled */
	ol.step3 li {
		color: black;
		background: #f2f7f5 url(../img/sprite-step3.png) 0 0 no-repeat;
		padding: 0.5em 17px 0 17px;
	}
	* html ol.step3 li {margin-bottom: -3px;}
	
	ol.step3 li.selected {
		background-position: -415px 0;
		background-color: #e5efea;
	}
		.step3 strong {
			display: block;
			/* "1" */
			background: url(../img/sprite-step3-strong.png) 0 0 no-repeat;
			font-size: 130%;
			padding: 4px 0 0.4em 34px;
			position: relative;
			top: 15px;
		}
		/* "2" */
		.step3 .two strong {background-position: 0 -50px;}
		/* "3" */
		.step3 .three strong {background-position: 0 -100px;}
		/* Tick! */
		.step3 .disabled strong {background-position: 0 -150px;}

		/* Disabled is greyed out */
		.step3 .disabled strong, .step3 .disabled span {
			color: #a6a9a7;
		}
		.step3 span {
			display: block;
			padding: 0 0 3.5em 34px;
			/* Down arrow */
			background:  url(../img/sprite-step3.png) -830px 100% no-repeat;
			position: relative;
			top: 15px;
		}
		.step3 .selected span {
			background-position: -1211px 100%;
		}
		/* The last step does not have a down arrow */
		.step3 .three span {
			background: none;
			padding-bottom: 3em;
		}

/* This is a progress indicator */
ol#progress, #progress li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ol#progress {
	padding: 1.2em 0 0 0;
	margin: 0 0 1em 0;
}
	#progress li {
		float: left;
		width: 129px;
		color: #584972;
		font-size: 70%;
		text-transform: uppercase;
	}
	#progress li span, #progress li strong, #progress li del {
		display: block;
		/* Default - grey */
		background: url(../img/sprite-progress.png) -2096px 0 no-repeat;
	}
	#progress li.six span {
		/* Grey - last position */
		background-position: -2225px 0;
	}
	#progress li strong, #progress li del {
		/* Selected */
		background-position: -1838px 0;
		font-weight: normal;
	}
	#progress li del {
		/* Stage complete  */
		background-position: -1709px 0;
		text-decoration: none;
	}
	#progress li.six strong, #progress li.six del {
		/* Selected, last */
		background-position: -1967px 0;
	}
		#progress span span, #progress strong span, #progress del span {
			margin: 0 15px 0 0;
			/* 1 */
			background: #f6f6f8 url(../img/sprite-progress.png) 0 0 no-repeat;
			padding: 0.85em 0 0.6em 25px;
			border-top: solid 1px #dddbd5;
			border-bottom: solid 1px #dddbd5;
		}
		#progress strong span, #progress del span {
			border-top: solid 1px #584972;
			border-bottom: solid 1px #584972;
		}
			#progress strong span, #progress del span {
				color: white;
				background-color: #584972;
			}
			/* Default numbers */
			#progress .one span span {background-position: 0 0; border-left: solid 1px #dddbd5;}
			#progress .two span span {background-position: -114px 0;}
			#progress .three span span {background-position: -228px 0;}
			#progress .four span span {background-position: -342px 0;}
			#progress .five span span {background-position: -456px 0;}
			#progress .six span span {background-position: -570px 0;}
			#progress .seven span span {background-position: -684px 0;}

			/* Selected numbers */
			#progress .one strong span {background-position: -798px 0;}
			#progress .two strong span {background-position: -912px 0;}
			#progress .three strong span {background-position: -1026px 0;}
			#progress .four strong span {background-position: -1140px 0;}
			#progress .five strong span {background-position: -1254px 0;}
			#progress .six strong span {background-position: -1368px 0;}
			#progress .seven strong span {background-position: -1482px 0;}
		
			/* Stage complete */
			#progress del span, #progress .seven del span {background-position: -1596px 0;}

/* A call-to-action. This might need to move to default.css */
/* The example below lives inside .twocol, inside a fieldset. It is certainly not the default. */
div.cta {
	/* Middle */
	background: url(../img/sprite-cta.png) -421px 0 repeat-y;
	margin: 0 49px 1em 0;
}
fieldset div.cta {
	margin: 0 0 1em 0;
}
.last div.cta {
	margin-left: 13px;
	margin-right: 0;
}
	.cta div {
		/* Top */
		background: url(../img/sprite-cta.png) 0 0 no-repeat;
	}
		.cta div div {
			/* Bottom - default */
			background-position: -842px 100%;
			padding: 1.2em 26px 10px 144px;
		}
		.cta div div.contact {
			/* Bottom - phone icon */
			background-position: -1263px 100%;
			padding: 1.2em 26px 10px 144px;
		}
		.cta div div.save {
			/* Bottom - disk icon */
			background-position: -1684px 100%;
			padding: 1.2em 26px 10px 144px;
		}
			.cta h3 {
				margin-bottom: 0;
			}

/* As above, but if the .cta is inside .threecol */
.threecol div.cta {
	/* Middle */
	background-position: -2391px 0;
	margin-right: 15px;
}
.threecol .last div.cta {
	margin-left: 1px;
}
	.threecol .cta div {
		/* Top */
		background-position: -2105px 0;
	}
		.threecol .cta div div {
			/* Bottom - default */
			background-position: -2677px 100%;
			padding-left: 21px;
		}
			/* "> Find out more", "APPLY NOW >" */
			.threecol dt {
				float: left;
				width: 99px;
				padding-top: 0.4em;
			}
			.threecol dd {
				float: left;
				width: 140px;
			}

/* To display the user's ID, for online banking */
p.userid {
	background: #e3e3e3;
	padding: 1em 20px;
	width: 590px;
}