/* Rules just for the acquisition stage of the process */

div#head {
	/* Top of the drop-shadow box */
	background: white url(../img/sprite-main.png) 0 92px no-repeat;
	padding: 29px 26px 84px 0;
	position: relative;
}
	p#logo {
		margin: 0;
		position: absolute;
		top: 35px;
		left: 38px;
		width: 253px;
	}
	#head div {
		margin: 0 0 0 291px;
		text-align: right;
	}
		#supnav ul {
			margin: 0 0 1.2em 0;
		}
			#supnav li {
				float: right;
				width: 99px;
				background: none;
				padding: 0;
			}
				#supnav a {
					width: auto;
					margin: 0 0 0 11px;
					float: none;
					text-align: left;
					display: block;
				}
				#supnav .help a {background-position: -998px 0;}
					#supnav .help a span {background-position: -1086px 100%;}
						#supnav .help a span span {background-position: -910px 0;}
				#supnav .logout a {background-position: -1262px 0;}
					#supnav .logout a span {background-position: -1350px 100%;}
						#supnav .logout a span span {background-position: -1174px 0;}

	#head div p {
		font-size: 90%;
		background: white;
	}

/* Main navigation, top */
#mainnav div {
	/* Middle */
	background: white url(../img/sprite-mainnav.png) -909px 0 repeat-y;
	margin: 0 13px 1.6em 0;
}
	#mainnav div div {
		/* Bottom */
		background: url(../img/sprite-mainnav.png) -1818px 100% no-repeat;
		margin: 0;
	}
		#mainnav ul {
			/* Top */
			background: url(../img/sprite-mainnav.png) 0 0 no-repeat;
			margin: 0;
			padding: 1.7em 24px 2.35em 24px;
			font-size: 80%;
		}
			#mainnav li {
				background: none;
				padding: 0;
				display: inline;
				text-transform: uppercase;
			}
				#mainnav a, #mainnav em {
					padding: 0 1em 0 0;
					border-right: solid 1px #dfdfdf;
					margin: 0 0.9em 0 0;
				}
				#mainnav em {
					font-style: normal;
					font-weight: bold;
					color: #063;
				}
				#mainnav .last a, #mainnav .last em, #mainnav em a, #mainnav .last em a {
					padding: 0;
					border: none;
					margin: 0;
				}

h1 {
	margin-bottom: 0.9em;
}

/* Main content, left */
div#content {
	float: left;
	width: 671px;
	/* Middle */
	background: white url(../img/sprite-servicing.png) -671px 0 repeat-y;
}
	#content div {
		/* Top */
		background: url(../img/sprite-servicing.png) 0 0 no-repeat;
	}
		#content div div {
			/* Bottom */
			background-position: -1342px 100%;
			padding: 0 29px 11px 24px;
		}
			#content div div div {
				background: none;
				padding: 0;
			}
			/* Sub-navigation */
			#subnav ul {
				background: #ecebe7 url(../img/bg-subnav-ul.png) 0 100% repeat-x;
				font-size: 85%;
				padding: 0 0 0 8px;
				margin: 5px 10px 2.4em 5px;
			}
				#subnav li {
					padding: 0;
					background: none;
					float: left;
				}
					#subnav a, #subnav em {
						display: block;
						color: black;
						padding: 1em 2px 0.8em 0;
						font-style: normal;
					}
					/* You are here */
					#subnav a:hover, #subnav em {
						background: url(../img/bg-subnav-em.gif) 50% 100% no-repeat;
					}
						#subnav span {
							display: block;
						}
						/* Liquid layout curved corners */
						#subnav em span, #subnav a:hover span {
							color: white;
							/* Top left */
							background: #0f672f url(../img/sprite-subnav-a1.png) 0 0 no-repeat;
							/* IE fix */
							border-bottom: solid 1px #dddcd7;
						}
							#subnav em span span, #subnav a:hover span span {
								/* Bottom right */
								background-color: transparent;
								background-position: 100% 100%;
							}
							/* Not a great solution */
							* html #subnav em span span, * html #subnav a:hover span span {
								background: url(../img/bg-subnav-em-span-span-ie.gif) 100% 100% no-repeat;
							}
								#subnav em span span span, #subnav a:hover span span span {
									/* Top right */
									background: url(../img/sprite-subnav-a2.png) 100% 0 no-repeat;
									border: none;
								}
									#subnav em span span span span, #subnav a:hover span span span span {
										/* Bottom left */
										background-color: transparent;
										background-position: 0 100%;
									}
									#subnav em span span span span, #subnav a span span span span {
										padding: 0.4em 0.9em;
									}

			/* .details is a sort of fake table style */
			#content div.details, #content div.summary, #content fieldset {
				background: #f2f7f5;
				border: solid 1px #dfdfdf;
				margin: 0 0 2.5em 0;
				padding: 1.2em 15px;
				font-size: 85%;
			}
			#content div.summary, #content fieldset {
				font-size: 95%;
				padding-bottom: 1.5em;
			}
				.summary dl, #content fieldset dl {
					margin: 0 0 1em 0;
				}
					.details dt, .summary dt, #content fieldset dt {
						float: left;
						width: 145px;
						font-weight: bold;
						padding: 0 50px 0 0;
						margin: 0;
						text-align: right;
					}
					#content fieldset dt {
						text-align: left;
					}
					.details dt {
						width: 120px;
						padding: 0;
					}
					.details dd, .summary dd, #content fieldset dd {
						float: left;
						width: 391px;
					}
					.details dd {
						width: 173px;
						text-align: right;
					}

		/* Where as, real tables need to be narrower. */
		#content table {
			width: 618px;
		}

		/* Two-column layout in the content area */
		#content .twocol div {
			width: 309px;
		}

		/* jQuery datepicker */
		.ui-datepicker {display: none;}
				#ui-datepicker-div table, div.ui-datepicker-header {
					margin: 0 50px 0 auto;
					width: 150px;
				}
				div.ui-datepicker-header {
					width: 148px;
					margin-top: 1em;
				}
				/* "Prev Month Next" */
				#ui-datepicker-div .ui-datepicker-header {
					border: 1px solid #dfdfdf;
					border-bottom: none;
					background: #fbfbfb;
					padding: 0.2em 0;
				}
					/* Selected month and year */
					.ui-datepicker-title {
						text-align: center;
						font-weight: bold;
						text-transform: uppercase;
						font-size: 80%;
						line-height: 1.8;
					}
						.ui-datepicker-prev, .ui-datepicker-next {padding: 0 0.5em;}
						.ui-datepicker-prev {float: left;}
						.ui-datepicker-next {float: right;}

					#ui-datepicker-div th, #ui-datepicker-div td {
						padding: 0;
						text-align: center;
						background: #fbfbfb;
					}
						#ui-datepicker-div table a {
							color: #333;
							display: block;
						}

/* Related links, right */
div#related {
	float: left;
	width: 233px;
}
	#related div {
		/* Middle */
		background: white url(../img/sprite-servicing.png) -2228px 0 repeat-y;
		margin: 0 0 1em 18px;
	}
		#related div div {
			/* Top */
			background: url(../img/sprite-servicing.png) -2013px 0 no-repeat;
			margin: 0;
		}
			#related div div div {
				/* Bottom */
				background-position: -2443px 100%;
				padding: 1.4em 18px 11px 13px;
			}
				#related div div div div {
					background: none;
				}
				#related h2 {
					color: black;
					font-size: 120%;
					font-weight: bold;
					margin: 0 0 0.5em 0;
				}