package $jpaentity.getPackage();

import javax.persistence.Basic;
import javax.persistence.Entity;
import javax.persistence.Id;

@Entity
public class $jpaentity.getClazz() {

	@Id
	@Basic(optional = false)
	private $jpaentity.getKeyInfo().getType() $jpaentity.getKeyInfo().getName();
	
	#foreach ( $fieldInfo in $jpaentity.getFieldInfos() )
	private $fieldInfo.getType() $fieldInfo.getName();
	#end
	
	public $jpaentity.getClazz()() {}
}