package $jpaentity.getPackage();

import javax.persistence.Basic;
import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persistence.Temporal;
import javax.persistence.TemporalType;

@Entity
public class $jpaentity.getClazz() {

	@Id
	@Basic(optional = false)
	private $jpaentity.getKeyInfo().getType() $jpaentity.getKeyInfo().getName();

#foreach ( $fieldInfo in $jpaentity.getFieldInfos() )
#foreach ( $annotation in $fieldInfo.getAnnotations())
	$annotation
#end
	private $fieldInfo.getType() $fieldInfo.getName();
#end

	public $jpaentity.getClazz()() {
	}
}