package $jpaentity.getPackage();

import javax.persistence.Basic;
import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persistence.Temporal;
import javax.persistence.TemporalType;
import javax.persistence.CascadeType;
import javax.persistence.OneToMany;
import javax.persistence.JoinColumn;
import javax.persistence.ManyToOne;
import java.util.Collection;

@Entity
public class $jpaentity.getClazz() {

	@Id
#if ($jpaentity.getKeyInfo().getType().equals("Long")) 
	@GeneratedValue(strategy = GenerationType.IDENTITY)
#end
	@Basic(optional = false)
	private $jpaentity.getKeyInfo().getType() $jpaentity.getKeyInfo().getName();

#foreach ( $fieldInfo in $jpaentity.getFieldInfos() )
#foreach ( $annotation in $fieldInfo.getAnnotations())
	$annotation
#end
	private $fieldInfo.getType() $fieldInfo.getName();
#end

	public $jpaentity.getClazz()() {
	}
}