#
# Populate your responder inmemory database with some test values
#
# For example:
#foreach ( $entityInfo in $entitiesInfo )
INSERT INTO `$entityInfo.getClazz()`(##
#foreach ( $fieldInfo in $entityInfo.getAllFieldInfos() ) 
#if (!($fieldInfo.getAnnotations().contains("@ManyToOne(optional = false)")))
#if (!$fieldInfo.equals($entityInfo.getAllFieldInfos().get(0))) 
 , ##
#end
`$fieldInfo.getName()`##
#end
#end                                                  
) VALUES(##
#foreach ( $fieldInfo in $entityInfo.getAllFieldInfos() )
#if (!($fieldInfo.getAnnotations().contains("@ManyToOne(optional = false)")))
#if (!$fieldInfo.equals($entityInfo.getAllFieldInfos().get(0))) 
 , ##
#end
#if ($fieldInfo.getType().equals("String")) 
'abc'##
#elseif ($fieldInfo.getType().equals("Long") || $fieldInfo.getType().equals("Integer"))
'1'##
#elseif ($fieldInfo.getType().equals("java.math.BigDecimal"))
'1.11'##
#elseif ($fieldInfo.getType().equals("java.util.Date") && $fieldInfo.getAnnotations().contains("@Temporal(TemporalType.TIME)"))
'05:45:30'##
#elseif ($fieldInfo.getType().equals("java.util.Date"))
'2012-08-15 00:00:00'##
#else
'Type not supported'##
#end
#end
#end
);	
#end
