events
	GET GET
	POST POST
end

commands
#foreach ( $command in $commands.getRIMCommands() )
	$command
#end
end

initial resource ServiceDocument
	item ServiceDocument
	view { GETServiceDocument }
	path "/"
#foreach ( $rsm in $rim.getResourceStateMachines() )
	GET -> ${rsm.getCollectionStateName()}
#end
end

#foreach ( $rsm in $rim.getResourceStateMachines() )
#* Collection resource state*#
resource ${rsm.getCollectionStateName()}
	collection ${rsm.getEntityName()}
	view { GETEntities }
	path "/${rsm.getCollectionStateName()}()"
	POST -> ${rsm.getCollectionStateName()}_pseudo_created
	GET *-> ${rsm.getEntityStateName()} id=${rsm.getMappedEntityProperty()}
#foreach ( $transition in $rsm.getTransitions() )
#if ($transition.isCollectionState()) 
	GET ${transition.getTitleAssignment()}*-> ${rsm.getEntityStateName()}_${transition.getLinkProperty()} id=${rsm.getMappedEntityProperty()}, filter="${transition.getFilter()}"
#elseif(!$transition.isUniqueTransition())
	GET ${transition.getTitleAssignment()}*-> ${rsm.getEntityStateName()}_${transition.getTargetStateName()} id=${rsm.getMappedEntityProperty()}, navproperty="${transition.getTargetStateName()}"
#else
	GET *-> ${transition.getTargetResourceStateMachine().getEntityStateName()} id=${transition.getLinkProperty()}
#end
#end
end
#* Entity created resource state*#
resource ${rsm.getCollectionStateName()}_pseudo_created
	collection ${rsm.getEntityName()}
	view { GETEntity }
	actions { CreateEntity }
	path "/${rsm.getCollectionStateName()}()"
end
#* Entity resource state*#
resource ${rsm.getEntityStateName()}
	item ${rsm.getEntityName()}
	view { GETEntity }
	path "/${rsm.getCollectionStateName()}(${rsm.getPathParametersTemplate()})"
#foreach ( $transition in $rsm.getTransitions() )
#if ($transition.isCollectionState()) 
	GET ${transition.getTitleAssignment()}-> ${rsm.getEntityStateName()}_${transition.getLinkProperty()} id=${rsm.getMappedEntityProperty()}, filter="${transition.getFilter()}"
#elseif(!$transition.isUniqueTransition())
	GET ${transition.getTitleAssignment()}-> ${rsm.getEntityStateName()}_${transition.getTargetStateName()} id=${rsm.getMappedEntityProperty()}, navproperty="${transition.getTargetStateName()}"
#else
	GET -> ${transition.getTargetResourceStateMachine().getEntityStateName()} id=${transition.getLinkProperty()}
#end
#end
end
#* Transitions to other resource states *#
#foreach ( $transition in $rsm.getTransitions() )
#if($transition.isCollectionState())#*
	Transition to collection resource state*#
resource ${rsm.getEntityStateName()}_${transition.getLinkProperty()}
	collection ${transition.getTargetEntityName()}
	view { GETEntities filter=filter }
	path "/${rsm.getCollectionStateName()}(${rsm.getPathParametersTemplate()})/${transition.getLinkProperty()}"
	GET *-> ${transition.getTargetResourceStateMachine().getEntityStateName()} id=${transition.getTargetResourceStateMachine().getMappedEntityProperty()}
#foreach ( $transitionTarget in $transition.getTargetResourceStateMachine().getTransitions() )
#if ($transitionTarget.isCollectionState()) 
	GET ${transitionTarget.getTitleAssignment()}*-> ${transition.getTargetResourceStateMachine().getEntityStateName()}_${transitionTarget.getLinkProperty()} id=${transition.getTargetResourceStateMachine().getMappedEntityProperty()}, filter="${transitionTarget.getFilter()}"
#elseif(!$transitionTarget.isUniqueTransition())
	GET ${transitionTarget.getTitleAssignment()}*-> ${transition.getTargetResourceStateMachine().getEntityStateName()}_${transitionTarget.getTargetStateName()} id=${transition.getTargetResourceStateMachine().getMappedEntityProperty()}, navproperty="${transitionTarget.getTargetStateName()}"
#else
	GET *-> ${transitionTarget.getTargetResourceStateMachine().getEntityStateName()} id=${transitionTarget.getLinkProperty()}
#end
#end
end
#elseif(!$transition.isUniqueTransition())#*
	Transition to entity resource state*#
resource ${rsm.getEntityStateName()}_${transition.getTargetStateName()}
	item ${transition.getTargetEntityName()}
	view { GETNavProperty navproperty=navproperty, entity=${rsm.getEntityName()} }
	path "/${rsm.getCollectionStateName()}(${rsm.getPathParametersTemplate()})/${transition.getTargetStateName()}"
	GET -> ${transition.getTargetResourceStateMachine().getEntityStateName()} id=${transition.getTargetResourceStateMachine().getMappedEntityProperty()}
end
#end
#end
#end