events
	GET GET
end

commands
#foreach ( $command in $commands.getRIMCommands() )
	$command.getId()
#end
#foreach ( $rsm in $rim.getResourceStateMachines() )
#foreach ( $transition in $rsm.getTransitions() )
	GETNavProperty${transition.getTargetStateName()} entity=${rsm.getEntityName()}, navproperty=nav${transition.getTargetStateName()}
#end
#end
end

initial resource ServiceDocument
	item ServiceDocument
	view { GETServiceDocument }
	path "/"
#foreach ( $rsm in $rim.getResourceStateMachines() )
	GET -> ${rsm.getCollectionStateName()}
#end
end

#foreach ( $rsm in $rim.getResourceStateMachines() )
#* Collection resource state*#
resource ${rsm.getCollectionStateName()}
	collection ${rsm.getEntityName()}
	view { GETEntities }
	path "/${rsm.getCollectionStateName()}()"
	GET *-> ${rsm.getEntityStateName()} id=${rsm.getMappedEntityProperty()}
#foreach ( $transition in $rsm.getTransitions() )
	GET *-> ${rsm.getEntityStateName()}_${transition.getTargetStateName()} id=${rsm.getMappedEntityProperty()}, nav${transition.getTargetStateName()}="${transition.getTargetStateName()}"
#end
end

#* Entity resource state*#
resource ${rsm.getEntityStateName()}
	item ${rsm.getEntityName()}
	view { GETEntity }
	path "/${rsm.getCollectionStateName()}(${rsm.getPathParametersTemplate()})"
#foreach ( $transition in $rsm.getTransitions() )
	GET -> ${rsm.getEntityStateName()}_${transition.getTargetStateName()} id=${rsm.getMappedEntityProperty()}, nav${transition.getTargetStateName()}="${transition.getTargetStateName()}"
#end
end

#* Transition to other resource states *#
#foreach ( $transition in $rsm.getTransitions() )

resource ${rsm.getEntityStateName()}_${transition.getTargetStateName()}#*
*##if ($transition.isCollectionState())#* 
	Transition to collection resource state in target RSM *#
	collection ${transition.getTargetEntityName()}
	view { GETNavProperty${transition.getTargetStateName()} }
	path "/${rsm.getCollectionStateName()}(${rsm.getPathParametersTemplate()})/{nav${transition.getTargetStateName()}}"
	GET -> ${transition.getTargetResourceStateMachine().getCollectionStateName()} id=${transition.getTargetResourceStateMachine().getMappedEntityProperty()}
#else#*
	Transition to entity resource state in target RSM *#
	item ${transition.getTargetEntityName()}
	view { GETNavProperty${transition.getTargetStateName()} }
	path "/${rsm.getCollectionStateName()}(${rsm.getPathParametersTemplate()})/{nav${transition.getTargetStateName()}}"
	GET -> ${transition.getTargetResourceStateMachine().getEntityStateName()} id=${transition.getTargetResourceStateMachine().getMappedEntityProperty()}
#end
end
#end
#end
