#*
  #%L
  interaction-media-xhtml
  %%
  Copyright (C) 2012 - 2013 Temenos Holdings N.V.
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
*#
		<label>${entitySetName}</label>
		<table id="tableT2">
			<thead>
				<tr>
#foreach( $entityName in $entityPropertyNames )
					<div>
						<th>${entityName}</td>
					</div>
#end
				</tr>
			</thead>
			<tbody>
#set( $Q = "'" )
#foreach( $entityResource in $entityResources )
#set( $quotedTerm = "${Q}$!{entityResource.getEntityGetHRef()}${Q}")
				<tr onclick="navigate(${quotedTerm});">
#foreach( $propertyValue in $entityResource.getEntityProperties() )
					<td>${propertyValue}</td>
#end
				</tr>
#end
			</tbody>
		</table>