<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    	<div class="info">
                <div>
                      <span class="infoTitle">
                            <span wicket:id="title">Subscription fee</span>
                      </span>
                      <br/>
                      <span>
                            <span wicket:id="content">You will be charged \u00A3 X.YY. If you already have an account(s) with us, no subscription fee.</span>
                      </span>
                </div>
        </div>      
</wicket:panel>
</body>
</html>
